<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>

<header class="d-flex flex-wrap justify-content-between align-items-stretch text-white py-2 bg-dark">
    <div class="fs-3 ps-4 me-1 d-inline-block">
        <span th:text="${authUser.username}"></span>
        <span> with roles: </span>
        <th:block th:each="role : ${authUser.roles}">
            <span th:utext="${role}"></span>
        </th:block>
    </div>
    <div>
        <button form="logout" class="fs-5 pe-4 btn btn-dark text-white-50" type="submit">Logout</button>
        <form id="logout" method="POST" th:action="@{/logout}"></form>
    </div>
</header>

<div class="container-fluid g-0 align-items-start">
    <div class="row g-0" th:with="isAdmin=${#authorization.expression('hasRole(''ADMIN'')')}">
        <div class="col-4 nav flex-column nav-pills fs-5 py-1 my-3" id="v-pills-tab" role="tablist"
             aria-orientation="vertical" style="width: 20%;">
            <a th:if="${isAdmin}" class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill"
               href="#v-pills-admin" role="tab"
               aria-controls="v-pills-admin" aria-selected="false">Admin</a>
            <a th:class="${isAdmin} ? 'nav-link' : 'nav-link active'" id="v-pills-user-tab" data-bs-toggle="pill"
               href="#v-pills-user" role="tab"
               aria-controls="v-pills-user" aria-selected="true">User</a>
        </div>

        <div th:if="${isAdmin}" class="show col tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-admin"
                 role="tabpanel" aria-labelledby="v-pills-admin-tab">
                <div class="container-fluid bg-light px-4 py-3 g-0">
                    <h1 class="display-6">Admin panel</h1>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-usersTable-tab" data-bs-toggle="tab"
                           href="#nav-usersTable" role="tab"
                           aria-controls="nav-usersTable" aria-selected="true">Users table</a>
                        <a class="nav-link" id="nav-newUser-tab" data-bs-toggle="tab" href="#nav-newUser" role="tab"
                           aria-controls="nav-newUser" aria-selected="false">New User</a>
                    </div>
                    <div class="tab-content" id="nav-tabContent">

<!--                        All users-->
                        <div class="tab-pane fade show active" id="nav-usersTable"
                             role="tabpanel" aria-labelledby="nav-usersTable-tab">
                            <div class="card">
                                <div class="card-header py-3">
                                    <div class="h4 m-0">All users</div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped border-top">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="usersListTable">

<!--                                        admin.js-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

<!--                        Create new user-->
                        <div class="tab-pane fade" id="nav-newUser" role="tabpanel"
                             aria-labelledby="nav-newUser-tab">
                            <div class="card">
                                <div class="card-header py-3">
                                    <div class="h4 m-0">Add new user</div>
                                </div>
                                <div class="card-body">
                                    <form id="createUserForm">
                                        <label class="form-label d-block mx-auto pt-1 mt-2 mb-0 text-center fs-5 fw-bold">First
                                            name
                                            <input id="newUserFirstName"
                                                   value=""
                                                   type="text"
                                                   class="form-control mx-auto"
                                                   style="width: 350px;"
                                                   placeholder="First name"></label>

                                        <label class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold">Last
                                            name
                                            <input id="newUserLastName"
                                                   value=""
                                                   type="text"
                                                   class="form-control mx-auto"
                                                   style="width: 350px;"
                                                   placeholder="Last name"></label>

                                        <label class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold">Age
                                            <input id="newUserAge" min="0" max="120"
                                                   value=""
                                                   type="number"
                                                   class="form-control mx-auto"
                                                   style="width: 350px;"
                                                   placeholder="Age"></label>

                                        <label class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold">Email
                                            <input id="newUserEmail" required
                                                   type="email"
                                                   class="form-control mx-auto"
                                                   style="width: 350px;"
                                                   placeholder="Email"></label>

                                        <label class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold">Password
                                            <input id="newUserPassword"
                                                   value="" required
                                                   type="password"
                                                   class="form-control mx-auto"
                                                   style="width: 350px;"
                                                   placeholder="Password"></label>

                                        <label class="form-label d-block mx-auto pt-1 mt-3 mb-0 text-center fs-5 fw-bold">Role
                                            <select size="2" multiple required class="form-select mx-auto"
                                                    style="width: 350px;">
                                                <option id="newRoleAdmin">ADMIN</option>
                                                <option id="newRoleUser" selected>USER</option>
                                            </select></label>

                                        <input type="submit" class="btn btn-success d-block mx-auto fs-5 mt-3"
                                               value="Add new user">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<!--                Edit usser-->
                <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Edit user</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="editForm">

<!--                                admin.js-->

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button id="buttonCloseModal" type="button" class="btn btn-secondary fs-5"
                                        data-bs-dismiss="modal">Close
                                </button>
                                <input type="submit" form="editForm" class="btn btn-primary fs-5" value="Edit"/>
                            </div>
                        </div>
                    </div>
                </div>

                <!--                Delete User-->
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Delete user</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div id="deleteModalContent" class="modal-body">

                                <!--                                admin.js-->

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary fs-5" data-bs-dismiss="modal">Close
                                </button>
                                <form id="deleteForm">
                                    <input type="submit" class="btn btn-danger fs-5" data-bs-dismiss="modal"
                                           value="Delete"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        User table-->
        <div th:class="${isAdmin} ? 'tab-pane fade' : 'tab-pane fade show active'"
             class="col tab-content"
             id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab" style="width: 80%">
            <div class="container-fluid bg-light px-4 py-3 g-0">
                <h1 class="display-6">User information-page</h1>
                <div class="card">
                    <div class="card-header py-3">
                        <div class="h4 m-0">About user</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped border-top">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody id="userInfoTableRow">

<!--                            admin.js-->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous">
</script>
<script src="/admin.js"></script>
</body>
</html>